.cart-item {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  position: relative;
}

.cart-item-image {
  width: 70px;
}

.cart-item-info {
  padding: 0 35px 10px 10px;
}

.cart-item-price {
  font-size: 25px;
  font-weight: 500;
}

.cart-item-title {
  font-size: 0.85rem;
  font-weight: 500;
  color: rgba((0, 0, 0, 0.5));
  margin-bottom: 8px;
}

.cart-item-remove {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  font-size: 1.4rem;
  border: none;
  background: none;
  cursor: pointer;
}
